[submodule "src/assimp"]
	path = thirdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "src/bullet3"]
	path = thirdparty/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "src/zip"]
	path = thirdparty/zip
	url = https://github.com/kuba--/zip.git
[submodule "thirdparty/ogre-next"]
	path = thirdparty/ogre-next
	url = https://github.com/OGRECave/ogre-next.git
